<div id="map" style="min-width:150px;height:700px;"></div>

<!-- utils -->
<script>
  function getValues(obj) {
    return Object.entries(obj).map(o => o[1])
  }
</script>

<!-- data -->
<script>
  window.data = {
    "zoom": 8,
  };

  window.geoData = {
    "florence": {
      "lat": 43.874316,
      "lng": 11.289719
    },
    "pisa": {
      "lat": 43.722627,
      "lng": 10.401901
    },
    "cinqueterre": {
      "lat": 44.127333,
      "lng": 9.714177
    },
    "siena": {
      "lat":43.320749,
      "lng": 11.332799
    },
    "ferraryMuseum": {
      "lat": 44.529728,
      "lng": 10.861362
    },
    "elba": {
      "lat": 42.778161,
      "lng": 10.193319
    }
  }

  window.destinationMarkers = [
    {
      loc: window.geoData.florence,
      title: "Florecne",
      label: "4"
    },
    {
      loc: window.geoData.pisa,
      title: "Pisa",
      label: "1"
    },
    {
      loc: window.geoData.cinqueterre,
      title: "Cinque Terre",
      label: "2"
    },
    {
      loc: window.geoData.siena,
      title: "Siena",
      label: "5"
    },
    {
      loc: window.geoData.ferraryMuseum,
      title: "Ferrary Museum",
      label: "3"
    },
    {
      loc: window.geoData.elba,
      title: "Elba",
      label: "6"
    }
  ]

  window.locations = getValues(window.geoData)
</script>

<script type="text/javascript">
  function addMarker(marker, map) {
    console.log("rendering marker: title=" + marker.title + " loc=" + marker.loc.lat + " ln=" + marker.loc.lng);
    return new google.maps.Marker({
      map: map,
      position: marker.loc,
      label: marker.label
    });
  }
</script>

<script type="text/javascript">
    function initMap() {
    var options = {
      scrollwheel: true,
      draggable: true,
      panControl: true,
      disableDefaultUI: false,
      zoomControl: true,
      streetViewControl: false,
      rotateControl: false,
      fullscreenControl: true,
      zoom: window.data.zoom,
      center: window.geoData.pisa,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById('map'), options);

    google.maps.event.addDomListener(window, "resize", function() {
      var center = map.getCenter();
      google.maps.event.trigger(map, "resize");
      map.setCenter(center);
    });


    // display destinations
    window.destinationMarkers.forEach(e => addMarker(e, map))

    google.maps.event.addDomListener(window, 'resize', function() {
      map.setCenter(options.center);
    });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{site.google-maps-api-key}}&amp;callback=initMap"></script>
