<div id="map" style="width:700px;height:700px;"></div>
<script>
  window.data = {
    "latitude": parseInt("{{ include.latitude }}"),
    "longitude": parseInt("{{ include.longitude }}"),
    "zoom": parseInt("{{ include.zoom }}"),
  };

  function initMap() {
    var options = {
      scrollwheel: true,
      draggable: true,
      panControl: false,
      disableDefaultUI: true,
      zoom: window.data.zoom,
      maxZoom: window.data.zoom,
      minZoom: window.data.zoom,
      center: new google.maps.LatLng(window.data.latitude, window.data.longitude),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById('map'), options);

    var marker = new google.maps.Marker({
      map: map,
      position: new google.maps.LatLng(window.data.latitude, window.data.longitude)
    });

    google.maps.event.addDomListener(window, 'resize', function() {
      map.setCenter(options.center);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{site.google-maps-api-key}}&amp;callback=initMap"></script>
